# Copyright 2022 Cognite AS

## Import the Libraries and Modules

In [2]:
import sys
from pathlib import Path

utils = str(Path("../utils").resolve())
if utils not in sys.path:
    sys.path.append(utils)

from cognite_auth import interactive_client

## Create the Cognite Client

In [3]:
c = interactive_client()

## Create various resource types

Create timeseries, datasets, labels, events etc.

**Code Pattern**

`client.<cdf_resource_type>.create()`

Dataset

In [4]:
from cognite.client.data_classes import DataSet

In [5]:
c.data_sets.list()

DataSetList([<cognite.client.data_classes.data_sets.DataSet at 0x278c53c91d0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278b5bb9850>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278b60db910>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278b5a849d0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278b60d8b90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c55d9810>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278b60d5a90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c4edd610>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c55d81d0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c55d9910>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c55fe6d0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c55fc6d0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c55fc4d0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617e50>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617e10>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617c90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617dd0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617d90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617d50>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617d10>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617cd0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617c50>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617ed0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617f50>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5617fd0>])

Add your prefix to make sure that the data we create are unique
You can for example use your name as a prefix

In [8]:
prefix = "My_Prefix"

In [9]:
ds = c.data_sets.create(DataSet(name=prefix+"_example_dataset",external_id=prefix))
ds

When we create the other data objects, we will make sure they all goes into your data set

In [10]:
ds_id = ds.id

Labels

In [11]:
from cognite.client.data_classes import LabelDefinition
labels = [
    LabelDefinition(
        external_id="ROTATING_EQUIPMENT_" + prefix,
        name="Rotating equipment",
        data_set_id=ds_id,
    ),
    LabelDefinition(
        external_id="PUMP_" + prefix,
        name="pump",
        data_set_id=ds_id,
    )
]
res = c.labels.create(labels)

In [12]:
c.labels.list()

LabelDefinitionList([<cognite.client.data_classes.labels.LabelDefinition at 0x278c745a110>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745a350>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745a4d0>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745a510>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c7458150>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745a410>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745a490>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c74585d0>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745a450>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745a390>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745a2d0>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c7458290>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745d1d0>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x278c745d190>])

Assets

In [13]:
from cognite.client.data_classes import Asset
assets = [Asset(name="asset1",external_id="asset1_"+prefix,data_set_id=ds_id), 
            Asset(name="asset2",external_id="asset2_"+prefix,data_set_id=ds_id)]
res = c.assets.create(assets)

In [14]:
c.assets.list(data_set_ids=ds_id)

AssetList([<cognite.client.data_classes.assets.Asset at 0x278c745dd50>,
           <cognite.client.data_classes.assets.Asset at 0x278c745d8d0>])

Timeseries

In [15]:
from cognite.client.data_classes import TimeSeries
ts = c.time_series.create(TimeSeries(name="timeseries_"+prefix,external_id = "timeseries_"+prefix,data_set_id=ds_id ))

In [16]:
ts

Sequences

In [17]:
from cognite.client.data_classes import Sequence
column_def = [{"valueType":"STRING","externalId":"user","description":"some description"},
             {"valueType":"DOUBLE","externalId":"amount"}]
seq = c.sequences.create(Sequence(external_id=prefix+"_test_sequence",name=prefix+" test sequence", columns=column_def,data_set_id=ds_id ))

Files metadata

In [18]:
from cognite.client.data_classes import FileMetadata
file_metadata = FileMetadata(name=prefix+" file",external_id=prefix+"_file",data_set_id=ds_id)
res = c.files.create(file_metadata)

In [19]:
res

(<cognite.client.data_classes.files.FileMetadata at 0x278b60d7d50>,
 'https://westeurope-1.cognitedata.com/api/v1/files/storage/cognite/6559848865888927%2F7080740928305367%2FMy_Prefix%2520file?sv=2024-08-04&se=2024-09-23T11%3A40%3A57Z&sr=b&sp=cw&sig=qGWgHXKiuC1uwpXmb0TXH65D8XUj8uAro47RSfpzh00%3D')

Relationships

In [20]:
from cognite.client.data_classes import Relationship
flowrel1 = Relationship(external_id=prefix+"_flow_12_test", source_external_id="asset1_"+prefix, source_type="asset", target_external_id="asset2_"+prefix, target_type="asset", confidence=0.1, data_set_id=ds_id)
flowrel2 = Relationship(external_id=prefix+"_flow_21_test", source_external_id="asset2_"+prefix, source_type="asset", target_external_id="asset1_"+prefix, target_type="asset", confidence=0.1, data_set_id=ds_id)
res = c.relationships.create([flowrel1,flowrel2])

In [21]:
c.relationships.list()

RelationshipList([<cognite.client.data_classes.relationships.Relationship at 0x278c5c915d0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c744df50>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c70d7950>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7469b90>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7468550>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7468b50>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7469bd0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7469850>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7469910>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7469cd0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7469b50>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7469fd0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481850>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481810>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c74817d0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481650>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481790>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481750>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481710>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c74816d0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481690>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481610>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c74818d0>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481890>,
                  <cognite.client.data_classes.relationships.Relationship at 0x278c7481910>])

Create Asset with Labels

In [22]:
from cognite.client.data_classes import Label
asset = Asset(name=prefix+"_test_pump", labels=[Label(external_id="PUMP_"+prefix)],data_set_id=ds_id)
res = c.assets.create(asset)

In [23]:
res

Create Asset Hierarchy

In [24]:
assets_list = [Asset(external_id=prefix+"_root", name=prefix+" Root",data_set_id=ds_id),
          Asset(external_id=prefix+"_child1", parent_external_id=prefix+"_root", name="child1",data_set_id=ds_id), 
          Asset(external_id=prefix+"_child2", parent_external_id=prefix+"_root", name="child2",data_set_id=ds_id),
          Asset(external_id=prefix+"_child_of_child1", parent_external_id=prefix+"_child1", name="child_of_child1",data_set_id=ds_id)]
res = c.assets.create_hierarchy(assets_list)

In [25]:
c.assets.retrieve_subtree(external_id=prefix+"_root")

AssetList([<cognite.client.data_classes.assets.Asset at 0x278c59b42d0>,
           <cognite.client.data_classes.assets.Asset at 0x278b60d6390>,
           <cognite.client.data_classes.assets.Asset at 0x278c745ad90>,
           <cognite.client.data_classes.assets.Asset at 0x278c748d390>])

## Update various resource types
**Code Pattern**

`client.<cdf_resource_type>.update()`

Full Update

In [26]:
c.data_sets.list()

DataSetList([<cognite.client.data_classes.data_sets.DataSet at 0x278c5617090>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c745fe90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74297d0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c5a81350>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c7483c10>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c7483250>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c745a310>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c745b190>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c7459410>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c545b910>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c748cb10>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c748cc90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c748d310>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c748fb90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b3090>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b3050>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b2ed0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b3010>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b2fd0>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b2f90>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b2f50>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b2f10>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b3150>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b3110>,
             <cognite.client.data_classes.data_sets.DataSet at 0x278c74b3190>])

In [27]:
data_set = c.data_sets.retrieve(id=ds_id)
data_set

In [28]:
data_set.description = "  This is an Example Dataset  "
res = c.data_sets.update(data_set)

In [29]:
res

Partial Update

In [30]:
from cognite.client.data_classes import DataSetUpdate
my_update = DataSetUpdate(id=ds_id).description.set("New description with Partial Update")#.metadata.remove(["key"])
res = c.data_sets.update(my_update)

In [31]:
res

In [32]:
from cognite.client.data_classes import AssetUpdate
my_update = AssetUpdate(external_id="asset1_"+prefix).description.set("New description using AssetUpdate")#.metadata.add({"key": "value"})
res1 = c.assets.update(my_update)

In [33]:
res1

Partial Update

In [34]:
another_update = AssetUpdate(external_id="asset1_"+prefix).description.set(None)
res2 = c.assets.update(another_update)

In [35]:
res2



---

In [36]:
res = c.time_series.retrieve(external_id="timeseries_"+prefix)
res.description = "New description"
res = c.time_series.update(res)
res

In [37]:
rel = c.relationships.retrieve(external_id=prefix+"_flow_12_test")
rel.confidence = 0.75
res = c.relationships.update(rel)
res

## Insert the data in CDF

**Code Pattern**
`client.<cdf_resource_type>.insert()`

### Insert the Datapoints/Rows

A datapoint consists of a value and a timestamp. We also need to tell which time series we want to write these datapoints into. 
We will use a time series that we created earlier and insert datapoints.

In [39]:
from datetime import datetime
# with datetime objects
datapoints = [(datetime(2024,9,16), 1000), (datetime(2024,9,16), 2000)]
c.time_series.data.insert(datapoints, external_id="timeseries_"+prefix)

We can use milliseconds when inserting datapoints as well

In [40]:
datapoints = [(1577836800000, 800), (1580515200000, 500)]
c.time_series.data.insert(datapoints, external_id="timeseries_"+prefix)

Look at the datapoints that was created

In [41]:
c.time_series.data.retrieve(external_id="timeseries_"+prefix,start=datetime(2020,1,1),end=datetime(2021,1,1))

In [45]:
c.sequences.retrieve(external_id=prefix+"_test_sequence").columns

SequenceColumnList([<cognite.client.data_classes.sequences.SequenceColumn at 0x278c745aa90>,
                    <cognite.client.data_classes.sequences.SequenceColumn at 0x278c74f2f90>])

In [46]:
data = [(1, ['user1',3.14]), (2, ['user2',2.72]) ]
c.sequences.data.insert(columns=["user","amount"], rows=data, external_id=prefix+"_test_sequence")

Look at the sequences that was created

In [47]:
c.sequences.data.retrieve_dataframe(external_id=prefix+"_test_sequence",start=0,end=100)

    user  amount
1  user1    3.14
2  user2    2.72

### Insert the Dataframe

In [48]:
import pandas as pd
from datetime import timedelta
import numpy as np

In [49]:
ts_xid = "timeseries_"+prefix
x = pd.date_range(start="2023", freq="1d", periods=100)
y = np.random.normal(0, 1, 100)
df = pd.DataFrame({ts_xid: y}, index=x)
df

            timeseries_My_Prefix
2023-01-01             -1.464660
2023-01-02             -0.630378
2023-01-03              1.258417
2023-01-04             -1.119295
2023-01-05              0.218041
...                          ...
2023-04-06              1.311204
2023-04-07             -1.338987
2023-04-08              1.213110
2023-04-09             -0.213562
2023-04-10             -0.656138

[100 rows x 1 columns]

In [50]:
c.time_series.data.insert_dataframe(df, external_id_headers=True)

Delete 

The code pattern for delete is:

client.<cdf_resource_type>.delete()

In [53]:
c.assets.delete(id=[1,2,3], external_id="foo")

CogniteNotFoundError: Not found: [{'id': 3}, {'id': 2}, {'externalId': 'foo'}, {'id': 1}]
The API Failed to process some items.
Successful (2xx): []
Unknown (5xx): []
Failed (4xx): [1,2,3,foo]