# Copyright 2022 Cognite AS

## Import the Libraries and Modules

In [1]:
import sys
from pathlib import Path

utils = str(Path("../utils").resolve())
if utils not in sys.path:
    sys.path.append(utils)

from cognite_auth import interactive_client

## Create the Cognite Client

In [2]:
c = client = interactive_client()

## Delete the data in CDF

### Delete using ids

In [12]:
#Please use the same prefix as in the 3_Create_Update_insert notebook. If it is already defined, it's all good! If not, remove "#" from the line below and use the same prefix as when you created the data

prefix = "My_Prefix"

In [13]:
c.sequences.data.retrieve_dataframe(external_id=prefix+"_test_sequence",start=0,end=None)

Empty DataFrame
Columns: [user, amount]
Index: []

Deleting a row from the sequence table

In [9]:
c.sequences.data.delete(external_id=prefix+"_test_sequence", rows=[2])

Looking at the result after the delete

In [14]:
c.sequences.data.retrieve_dataframe(external_id=prefix+"_test_sequence",start=0,end=None)

Empty DataFrame
Columns: [user, amount]
Index: []

### Delete using a Range

In [15]:
from datetime import datetime

c.time_series.data.retrieve(start=(datetime(2020,1,1)), end=(datetime(2021,1,1)), external_id="timeseries_"+prefix)

Deleting data in a specific timerange

In [16]:
from datetime import datetime

c.time_series.data.delete_range(start=(datetime(2020,1,1)), end=(datetime(2020,2,2)), external_id="timeseries_"+prefix)

Looking at the data we have left after the deletion

In [17]:
from datetime import datetime

c.time_series.data.retrieve(start=(datetime(2020,1,1)), end=(datetime(2021,1,1)), external_id="timeseries_"+prefix)

### Delete various resource types

In [18]:
c.labels.delete(external_id=["ROTATING_EQUIPMENT_"+prefix, "PUMP_"+prefix])

In [19]:
c.assets.delete(external_id="asset1_"+prefix)

In [20]:
c.time_series.delete(external_id="timeseries_"+prefix)

## Bulk Deletion

How to delete recursively and effectively.

In [21]:
c.assets.retrieve_subtree(external_id=prefix+"_root")

AssetList([<cognite.client.data_classes.assets.Asset at 0x13e8c8e1190>,
           <cognite.client.data_classes.assets.Asset at 0x13e8c8e9c50>,
           <cognite.client.data_classes.assets.Asset at 0x13e8c8eb290>,
           <cognite.client.data_classes.assets.Asset at 0x13e8c903690>])

Deleting the root asset and all the assets under the specific root asset.

In [22]:
# Delete root and all subtree assets:
c.assets.delete(external_id=prefix+"_root", recursive=True)

We can now look at the assets in our data set and see that it is empty

In [23]:
c.assets.list(data_set_external_ids=[prefix])

AssetList([<cognite.client.data_classes.assets.Asset at 0x13e8c8ea510>,
           <cognite.client.data_classes.assets.Asset at 0x13e8a3c4a50>])

If the data set is not empty, we can run this code to delete the remaining assets

In [24]:
assets_ids=[]

for asset in c.assets.list(data_set_external_ids=[prefix], limit=-1):
    assets_ids.append(asset.id)

c.assets.delete(id=assets_ids)